$color-primary-1: #421E5F;
$color-primary-overlay: rgba(66, 30, 95, 0.35);
$color-light-1: #feffff;
$color-light-2: #def2f1;
$color-light-back-1: #f7f8fa;
$color-light-back-2: #f7f8fa;
$color-dark-1: #17252a;
